*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #363940;
    margin: 20px;
}

p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #95A1BB;
}

.container__team-pic{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


img.container__teampic{
    width: 1200px;
    height: 420px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}

h5{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #95A1BB;
}

.container__teampersons{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container__first{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container__users-self{
    display: flex;
    gap: 10px;
}

.container__username{
    display: flex;
    flex-direction: column;
}

img.container__user{
    width: 60px;
    height: 60px;
}

